.pic {
  transition: opacity linear .4s;
}

.cc:hover > .pic {
  opacity: .3 !important;
}

.hoveredTitle {
  display: none;
}

.cc:hover > .hoveredTitle {
 display: block;  
}

@media screen and (max-width: 768px) {
    .desc, .price {
      display: none;
    }
}

